server:
  port: 8084
spring:
  application:
    name: notification-service
  kafka:
    bootstrap-servers: 172.24.0.8:9092
  mail:
    host: smtp.gmail.com
    port: 587
    username: unleashonlinein@gmail.com
    password: iqvy ovqz kuuu tepg
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


